	<div class="banner">
		<div id="slideshow">
			<div class="slide">
				<img src="" alt="" />
				<div class="slide-info">
					<h2>What is a Watershed?</h2>
					<p>Most people hear the word <q>watershed</q> and don't know exactly what to think.</p>
					<a href="">Learn More &raquo;</a>
				</div>
			</div>
		</div>
		
		<ul class="slide-nav-mini">
			<li class="prev ir"><a href="#">Previous</a></li>
			<li class="next ir"><a href="#">Next</a></li>
		</ul>
	</div>
	
	<ol class="nav slide-nav-full">
		<li><a href="#">Slide 1</a></li>
		<li><a href="#">Slide 2</a></li>
		<li><a href="#">Slide 3</a></li>
		<li><a href="#">Slide 4</a></li>
		<li><a href="#">Slide 5</a></li>
	</ol>
</div><!-- END: wrap home -->

<div class="wrap border">
	<div class="intro group">
		<div class="col col9">
			<h1>Our Mission</h1>
			<p>We foster partnerships for clean water and to improve fish and wildlife habitat and the quality of life for those who live, work and recreate in the watershed.</p>
		</div>
		
		<div class="col col3 last">
			<h2>Help Us <span>Restore</span> <span>Our River</span></h2>
			<a href="">Donate Now &raquo;</a>
		</div>
	</div>
</div>

<div class="i group pad social">
	<div class="col box-light twitter">
		<h3>Tweet, Tweet</h3>
		<a href="">Follow Us &raquo;</a>
	</div>
	
	<div class="col box-light events">
		<h3>Next Events</h3>
		<a href="">Learn More &amp; <abbr title="Request for Response">RSVP</abbr> &raquo;</a>
	</div>
	
	<div class="col box-spot blog last">
		<h3>From Our Blog</h3>
		<a href="">Read More &raquo;</a>
	</div>
</div>