<div class="wrap banner-inner">
	<div class="i"><img src="/images/slideshow/test.jpg" alt="" /></div>
</div>

<div class="wrap shadow-top inner">
	<div class="i pad group">
		<div class="col social">
			<div class="box-light twitter">
				<h3>Tweet, Tweet</h3>
				<ul class="list tweets"></ul>
				<a href="">Follow Us &raquo;</a>
			</div>
			
			<div class="box-light events">
				<h3>Next Events</h3>
				<a href="">Learn More &amp; <abbr title="Request for Response">RSVP</abbr> &raquo;</a>
			</div>
			
			<div class="box-spot blog">
				<h3>From Our Blog</h3>
				<a href="">Read More &raquo;</a>
			</div>
		</div>
		
		<%= render :partial => "/shared/content_page" %>
	</div>
</div>