<div class="wrap banner-inner">
	<div class="i"><img src="/images/slideshow/test.jpg" alt="" /></div>
</div>

<div class="wrap shadow-top inner">
	<div class="i pad group">
		<%= render :partial => "/shared/sidebar" %>
		
		<%= render :partial => "/shared/content_page" %>
	</div>
</div>